fastapi[standard]
python-multipart
 
# Database
sqlalchemy
alembic
supabase
asyncpg 
psycopg2-binary
 
# AI/LLM
langchain
langchain-openai
langgraph
openai
tiktoken

 

# Utilities
python-dotenv
pydantic
pydantic[email]

aiofiles

# security
pyjwt
pwdlib[argon2]

# Unstructured data processing
unstructured[all-docs]


httpx
apscheduler
python-dateutil
pytz
loguru
