fastapi[standard]
python-multipart
 
# Database
sqlalchemy
alembic
supabase
asyncpg
greenlet
psycopg2-binary
 
# AI/LLM
langchain
langchain-openai
langgraph
openai
tiktoken
langchain_anthropic

 

# Utilities
python-dotenv
pydantic
pydantic[email]

aiofiles

# security
pyjwt
pwdlib[argon2]

# Unstructured data processing
unstructured[all-docs]
cloudinary


httpx
apscheduler
twilio
python-dateutil
pytz
loguru
